[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
discover = "*"
coverage = "*"
flake8 = "*"

[packages]
dicttoxml = "*"
spyne = "*"
lxml = "*"
appdirs = "==1.4.4"
coverage = "==5.2.1"
discover = "==0.4.0"
distlib = "==0.3.1"
filelock = "==3.0.12"
flake8 = "==3.8.3"
importlib-metadata = "==1.7.0"
mccabe = "==0.6.1"
pluggy = "==0.13.1"
py = "==1.9.0"
pycodestyle = "==2.6.0"
pyflakes = "==2.2.0"
pyparsing = "==2.4.7"
six = "==1.15.0"
toml = "==0.10.1"
tox = "==3.20.0"
virtualenv = "==20.0.31"
zipp = "==3.1.0"
Flask = "*"

[requires]
python_version = "3.7"
